
MayaRigs/WalkerAnimStepped.avi

MayaRigs/WalkerAnimation_PLAYBLAST.avi

BlenderRigs/sky_2.blend1

README.md

*.blend1

RunCycle/TestRenders/0001-0034.mkv

RunCycle/TestRenders/Final0001-0166.mp4

RunCycle/TestRenders/RunCycle.mkv

WalkCycle/Ref/WalkCycleRef0001-0212.mp4

WalkCycle/Renders/0001-0024.mkv

WalkCycle/Renders/0001-0096.mkv

WalkCycle/Renders/0001-0097.mkv
